.myGigs {
	display: flex;
	justify-content: center;
	color: #555;

	.container {
		width: 90%;
		max-width: 1400px;
		padding: 50px 0px;

		.title {
			display: flex;
			justify-content: space-between;
      align-items: center;

			.add-new {
				background-color: #1dbf73;
				color: white;
				font-weight: 500;
				border: none;
				padding: 10px;
				cursor: pointer;
			}
		}

		table {
			width: 100%;
			border: none;
			border-collapse: collapse;

			tr {
				height: 50px;
				border: none;

				th {
					text-align: left;
					border: none;
				}

				td {
					border: none;

					sup {
						font-size: 12px;
					}

					.image {
						width: 50px;
						height: 25px;
						object-fit: cover;
					}

					.delete {
						width: 20px;
						cursor: pointer;
					}
				}

				&:nth-child(even) {
					background-color: #1dbf730f;
				}
			}
		}
	}
}
